.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  padding: 1rem;
  /* border: 1px solid red; */
}

.header__logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header__logo > h2 {
  font-size: 1.375rem;
  margin-left: 1rem;
}

.header__logo > .MuiSvgIcon-root {
  color: red;
}

.header__avatar {
  display: flex;
  align-items: center;
}

.header__avatar > p {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

@media (min-width: 426px) {
  .header {
    flex-direction: row;
  }

  .header__logo {
    margin: 0;
  }
}
